@import 'scss/config';

.block {
    display: grid;
    grid-template-rows: rem(32px) auto;
    gap: rem(24px);
    position: relative;
}

.verify,
.button,
.action {
    flex-shrink: 0;
}

.verify,
.wrapper {
    @include flex($align-items: center);

    column-gap: rem(8px);
}

.grid {
    display: grid;
    gap: rem(24px);
    max-width: rem(460px);
}

.row {
    display: grid;
    gap: rem(8px);

    &.count-0,
    &.count-2 {
        grid-template-columns: 1fr rem(100px);
    }

    &.count-1 {
        grid-template-columns: 1fr;
    }
}

.verify {
    color: var(--color-success);
}

.content {
    display: grid;
    gap: rem(4px);
}

.label {
    font-size: rem(12px);
    color: var(--grey-alpha-600);
}