@import 'scss/config';

.block {
  @include size(100%);
  @include make-spacer(p, 8px);
  @include flex($justify-content: center, $direction: column);

  @include media-breakpoint-up(lg) {
    @include make-spacer(p, 12px);

    font-size: rem(12px);
  }

  background-color: var(--color-primary);
  border-radius: rem(12px);
  aspect-ratio: 1.2 / 1;
  overflow: hidden;
  gap: rem(12px);
  text-align: center;
  font-size: rem(11px);
}

.code {
  @include make-spacer(mx, auto);
  @include size(61.5%);

  background-color: var(--color-white);
  border-radius: var(--default-border-radius);
}
