@import "scss/config";

.block {
	position: relative;
	min-width: rem(80px);
	color: var(--color-white);
	text-transform: uppercase;
	font-size: rem(14px);

	&.active {

		.arrow {
			transform: rotateZ(180deg);
		}

		.selected {
			color: var(--color-white);
		}
	}
}

.selected {
	@include flex(space-between, center);
	@include size(100%, rem(40px));
	@include make-spacer(pl, 16px);
	@include make-spacer(pr, 8px);

	position: relative;
	border-radius: var(--default-border-radius);
	border: rem(1px) solid var(--color-white);
	gap: rem(5px);
	overflow: hidden;
	min-width: rem(60px);
	cursor: pointer;
}

.dropdown {
	position: absolute;
	top: calc(100% + rem(12px));
	right: 0;
	min-width: rem(100px);
	background-color: var(--color-white);
	box-shadow: var(--default-box-shadow);
	border-radius: var(--default-border-radius);
	z-index: $z-index-11;
	max-height: rem(300px);
	overflow-y: auto;
}

.link {
	@include flex(null, center);
	@include make-spacer(px, 16px);
	@include make-spacer(py, 5px);
	@include size(100%, 36px);

	text-transform: uppercase;

	&:hover {
		background-color: rgba(0, 0, 0, 0.04);
		color: var(--color-primary);
	}

	&.active {
		color: var(--color-primary);
	}
}

.arrow {
	@include size(rem(14px));
	@include transition;
}
