@import 'scss/config';

.block {
  position: relative;
  min-width: rem(80px);
  text-transform: uppercase;
  color: var(--color-white);
  font-size: rem(14px);

  &.active {

    .arrow {
      transform: rotateZ(180deg);
    }

    .selected {
      color: var(--color-white);
    }
  }
}

.selected {
  @include flex(space-between, center);
  @include size(100%, rem(40px));
  @include make-spacer(pl, 16px);
  @include make-spacer(pr, 8px);

  position: relative;
  border: rem(1px) solid var(--color-white);
  border-radius: var(--default-border-radius);
  cursor: pointer;
  min-width: rem(60px);
  overflow: hidden;
  gap: rem(5px);
}

.dropdown {
  position: absolute;
  top: calc(100% + rem(12px));
  right: 0;
  z-index: $z-index-11;
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
  background-color: var(--color-white);
  min-width: rem(100px);
  max-height: rem(300px);
  overflow-y: auto;
}

.link {
  @include flex(null, center);
  @include make-spacer(px, 16px);
  @include make-spacer(py, 5px);
  @include size(100%, 36px);

  text-transform: uppercase;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
    color: var(--color-primary);
  }

  &.active {
    color: var(--color-primary);
  }
}

.arrow {
  @include size(rem(14px));
  @include transition;
}
