@import 'scss/config';

.block {
  @include flex(center, center);
  @include size(100%, 100vh);
}

.form {
  display: grid;
  gap: rem(16px);
  min-width: rem(450px);
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);
}
