@import 'scss/config';

.block {
  @include make-spacer(pt, 16px);
  @include make-spacer(px, 16px);
  @include make-spacer(pb, 24px);

  display: grid;
  gap: rem(8px);
  align-items: center;
  color: var(--font_color);
  width: 100%;

  @include media-breakpoint-up(lg) {
    @include make-spacer(pt, 24px);
    @include make-spacer(px, 24px);
    @include make-spacer(pb, 32px);

    grid-template-columns: 1fr auto 1fr;
  }
}
