@import 'scss/config';

.block {
  @include transition(border-color);
  @include make-spacer(mx, auto);
  @include make-spacer(p, 4px);

  background-color: var(--game_background_color);
  border: rem(4px) solid transparent;
  border-radius: rem(20px);
  max-width: rem(500px);

  @include media-breakpoint-up(lg) {
    max-width: 100%;
  }

  @include media-breakpoint-up(lg) {
    @include make-spacer(p, 4px);
  }

  &.active {
    border-color: var(--game_border_color_active);
  }
}

.meta {
  display: grid;
  grid-template-columns: 1fr rem(40px);
  align-items: center;

  @include media-breakpoint-up(lg) {
    @include make-spacer(py, 15px);
    @include make-spacer(px, 10px);
  }
}

.title {
  @include make-spacer(py, 8px);

  color: var(--font_color);

  @include media-breakpoint-up(lg) {
    @include make-spacer(py, 15px);
    @include make-spacer(px, 10px);
  }
}

.container {
  @include make-spacer(mb, 4px);
  @include make-spacer(px, 4px);
  @include make-spacer(py, 8px);

  display: grid;
  border-radius: rem(20px);
  background-color: var(--game_container_color);
  row-gap: rem(16px);
  column-gap: rem(4px);

  &:last-child {
    @include make-spacer(mb, 0);
  }

  @include media-breakpoint-up(lg) {
    @include make-spacer(p, 22px);

    grid-template-columns: 1fr minmax(rem(400px), 1fr);
  }
}

.left {
  @include make-spacer(px, 8px);

  color: var(--font_color);
  line-height: rem(24px);
}

.right {
  @include flex($direction: column);

  gap: rem(16px);
}

.column {

  .icon {
    @include make-spacer(mx, auto);
    @include size(rem(14px));

    display: block;
    color: var(--font_color);
  }
}

.numbers {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: rem(4px);

  .button {

    &:hover {
      transform: scale(1.1);
    }
  }
}

.actions {
  @include flex;

  gap: rem(8px);
}

.table {
  @include make-spacer(pt, 16px);
  @include make-spacer(pr, 32px);

  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.row {
  @include flex(space-between, center);

  height: rem(40px);
  border-bottom: rem(1px) solid var(--game_background_color);

  &:first-child {

    .cell {
      opacity: 0.6;
      font-weight: var(--typography-medium);
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

.cell {

  &:nth-child(2) {
    font-weight: var(--typography-medium);
  }
}
