@import 'scss/config';

.block {
  @include make-spacer(px, 24px);

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: rem(12px);
  min-width: rem(100px);
  height: rem(48px);
  overflow: hidden;
  gap: rem(8px);
  text-align: center;
  font-weight: var(--typography-medium);

  &:disabled {
    opacity: 0.48;
    pointer-events: none;
  }

  &.active {
    pointer-events: none;
  }

  &.primary {
    background-color: var(--color-primary);

    &.active,
    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  &.alt {
    background-color: var(--grey-alpha-100);

    &.active,
    &:hover {
      background-color: var(--color-primary);
    }
  }
}
