@import 'scss/config';

.block {
  @include make-spacer(px, 24px);

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: rem(12px);
  min-width: rem(100px);
  height: rem(48px);
  overflow: hidden;
  gap: rem(8px);
  text-align: center;
  font-weight: var(--typography-medium);

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.active {
    pointer-events: none;
  }

  &.primary {
    background-color: var(--color-primary);

    &.active,
    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  &.alt {
    background-color: var(--grey-alpha-100);

    &.active,
    &:hover {
      background-color: var(--color-primary);
    }
  }

  &.wide {
    width: 100%;
  }

  &.tiny {
    height: rem(40px);
  }

  &.game {
    @include make-spacer(px, 0);

    border-radius: rem(8px);
    gap: rem(8px);
    min-width: 0px;
    box-shadow: inset 0 rem(2px) 0 var(--grey-alpha-300);
    background-color: var(--game_button_color);
    color: var(--game_button_font_color);
    font-weight: var(--typography-bold);

    &.active {
      background-color: var(--game_button_color_active);
      color: var(--game_button_font_color_active);
    }

    &:not(.active) {

      &:hover {
        background-color: var(--game_button_color_hover);
        color: var(--game_button_font_color_hover);
      }
    }
  }
}
