@import 'scss/config';

.block {
  @include make-spacer(px, 24px);

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: rem(12px);
  background-color: var(--color-primary);
  min-width: rem(100px);
  height: rem(48px);
  overflow: hidden;
  text-align: center;
  font-weight: var(--typography-medium);

  &:disabled {
    opacity: 0.48;
    pointer-events: none;
  }

  &:hover {
    background-color: var(--color-primary-hover);
  }
}
