@import 'scss/config';

.block {
  @include make-spacer(p, 8px);

  background-color: var(--game_background_color);
  border-radius: rem(20px);
}

.container {
  @include flex($direction: column);

  gap: rem(16px);
  border-radius: inherit;
  background-color: var(--game_container_color);

  @include media-breakpoint-up(lg) {
    gap: 0;
  }
}
