@import "scss/config";

.block {
	@include make-spacer(mb, 16px);
	@include make-spacer(p, 16px);
  @include flex($direction: column);

	border-radius: var(--default-border-radius);
	box-shadow: var(--default-box-shadow);
	background-color: var(--color-white);
  height: 100%;

	&.transparent {
		background-color: transparent;
		box-shadow: unset;
		border-radius: unset;
	}

	&:last-child {
		@include make-spacer(mb, 0);
	}
}

.headline {
	@include flex(space-between, center);
}

.option {
	flex-shrink: 0;
	width: rem(200px);
}

.hr {
	@include make-spacer(my, 24px);
}

.body {
  flex-grow: 1;
  overflow: hidden;
}
