@import "scss/config";

.block {
	@include make-spacer(mb, 16px);
	@include make-spacer(p, 16px);
	
	border-radius: var(--default-border-radius);
	box-shadow: var(--default-box-shadow);
	background-color: var(--color-white);

	&.transparent {
		background-color: transparent;
		box-shadow: unset;
		border-radius: unset;
	}
	
	&:last-child {
		@include make-spacer(mb, 0);
	}
}

.headline {
	display: grid;
	grid-template-columns: 1fr rem(200px);
	align-items: center;
}

.hr {
	@include make-spacer(my, 24px);
}
