@import 'scss/config';

.block {
  @include make-spacer(p, 0);
}

.wrapper {
  display: grid;
  height: 100%;

  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr rem(322px);
  }
}

.left,
.right {
  @include make-spacer(p, 24px);
}

.list {
  @include make-spacer(mb, 24px);
  
  display: grid;
  gap: rem(8px);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.left {
  overflow: hidden;
}

.right {
  border-left: rem(1px) solid var(--grey-alpha-200);
}

.shadow {
  display: none;
  position: fixed;
  inset: 0;
  z-index: $z-index-11;
  background-color: var(--grey-alpha-700);

  @include media-breakpoint-up(xl) {
    display: none!important;
  }

  &.active {
    display: block;
    animation: opacity 0.3s linear forwards;
  }
}