@import 'scss/config';

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-13;
  background-color: rgba(255, 255, 255, 0.8);

  &.active {
    @include flex(center, center);
  }
}

.wrapper {
  @include make-spacer(p, 20px);

  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
  background-color: var(--color-white);
  width: 100%;
  max-width: rem(500px);
}

.body {
  @include make-spacer(py, 20px);
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);
}
