@import 'scss/config';

.block {
  @include size(100%, rem(40px));
  @include flex(center, center);

  border-radius: rem(8px);
  gap: rem(8px);
  box-shadow: inset 0 rem(2px) 0 var(--game_button_box_shadow);
  background-color: var(--game_button_color);
  color: var(--game_button_font_color);
  font-size: rem(14px);
  line-height: rem(28px);
  font-weight: var(--typography-bold);

  &:not(.active) {

    &:hover {
      background-color: var(--game_button_color_hover);
      color: var(--game_button_font_color_hover);
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.active {
    background-color: var(--game_button_color_active);
    color: var(--game_button_font_color_active);
  }

  @include media-breakpoint-up(lg) {
    border-radius: rem(12px);
    font-size: rem(18px);
  }
}
