@import 'scss/config';

.block {
  @include transition(border-color);
  @include make-spacer(p, 4px);

  border: rem(4px) solid var(--game_border_color);
  background-color: var(--game_background_color);
  border-radius: rem(20px);
  width: 100%;

  &.active {
    border-color: var(--game_border_color_active);
  }
}

.title {
  @include make-spacer(py, 15px);
  @include make-spacer(px, 10px);

  color: var(--font_color);
}

.container {
  @include make-spacer(mb, 4px);
  @include make-spacer(py, 22px);
  @include make-spacer(px, 24px);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: rem(20px);
  background-color: var(--game_container_color);
  gap: rem(4px);

  &:last-child {
    @include make-spacer(mb, 0);
  }
}

.left {
  color: var(--game_font_color);
  line-height: rem(24px);
}

.right {
  @include flex($direction: column);

  gap: rem(16px);
}

.column {

  .icon {
    @include make-spacer(mx, auto);
    @include size(rem(14px));

    display: block;
    color: var(--game_font_color);
  }
}

.numbers {
  display: grid;
  grid-template-columns: repeat(10, minmax(rem(30px), rem(40px)));
  justify-content: space-between;
  gap: rem(4px);

  .button {

    &:hover {
      transform: scale(1.1);
    }
  }
}

.button {
  @include size(100%, rem(40px));
  @include flex(center, center);

  border-radius: rem(12px);
  box-shadow: inset 0 rem(2px) 0 var(--game_button_box_shadow);
  background-color: var(--game_button_color);
  color: var(--game_button_font_color);
  font-size: rem(18px);
  line-height: rem(28px);
  font-weight: var(--typography-bold);

  &:not(.active) {

    &:hover {
      background-color: var(--game_button_color_hover);
      color: var(--game_button_font_color_hover);
    }
  }

  &.active {
    background-color: var(--game_button_color_active);
    color: var(--game_button_font_color_active)
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon {
  @include make-spacer(mr, 8px);
}

.actions {
  @include flex;

  gap: rem(8px);
}

.table {
  @include make-spacer(pt, 16px);
  @include make-spacer(pr, 32px);
}

.row {
  @include flex(space-between, center);

  height: rem(40px);
  border-bottom: rem(1px) solid var(--grey-alpha-400);

  &:first-child {
    border-bottom-color: rgba(255, 255, 255, 0.4);

    .cell {
      opacity: 0.6;
      font-weight: var(--typography-medium);
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

.cell {

  &:nth-child(2) {
    font-weight: var(--typography-medium);
  }
}
