@import 'scss/config';

.block {
  position: relative;
  width: 100%;

  &.sm {

    .input {
      @include make-spacer(py, 8px);
      @include make-spacer(px, 8px);

      height: rem(46px);
      min-height: rem(46px);
    }
  }

  &.lg {

    .input {
      height: rem(80px);
      min-height: rem(80px);
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.label {
  @include make-spacer(px, 4px);
  @include transition;

  position: absolute;
  top: rem(16px);
  left: rem(16px);
  transform: translateY(rem(-23px));
  background-color: var(--color-white);
  color: rgba(0, 0, 0, 0.8);
  font-size: rem(12px);
  pointer-events: none;
}

.input {
  @include make-spacer(pt, 16px);
  @include make-spacer(px, 16px);
  @include size(100%, rem(56px));
  @include transition(border-color);

  display: block;
  border: rem(1px) solid var(--color-border);
  border-radius: var(--default-border-radius);
  min-height: rem(56px);
  overflow: hidden;
  resize: vertical;
  font-weight: var(--typography-thin);

  &:read-only {
    opacity: 0.6;
  }

  &:focus {
    outline: 0;
    border-color: var(--color-primary);
  }
}
