@import 'scss/config';

.block {
  display: grid;
  gap: rem(16px);
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);
}

.title {
  @include flex(flex-end, baseline);

  gap: rem(8px);
}
