@import 'scss/config';

.block {
  display: grid;
  gap: rem(16px);
}

.grid {
  display: grid;
  grid-template-rows: 1fr rem(500px) repeat(2, auto);
  grid-template-columns: repeat(2, 1fr) rem(400px);
  align-items: flex-start;
  gap: rem(16px);

  /* stylelint-disable */

  & > * {

    &:nth-child(1) { grid-area: 1 / 1 / 2 / 3; }

    &:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }

    &:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }

    &:nth-child(4) { grid-area: 3 / 1 / 4 / 3; }

    &:nth-child(5) { grid-area: 4 / 1 / 5 / 3; }

    &:nth-child(6) { grid-area: 1 / 3 / 5 / 4; }
  }
}

.filter {
  @include make-spacer(mb, rem(16px));

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(16px);
}

.actions {
  @include flex(flex-end, center);

  gap: rem(16px);
}
