@import 'scss/config';

.block {
  @include make-spacer(p, 16px);

  flex-grow: 1;
  border-radius: rem(32px) rem(32px) 0 0;
  background-color: var(--color-white);
  width: 100%;

  @include media-breakpoint-up(md) {
    @include make-spacer(p, 24px);
  }
}