@import 'scss/config';

.block {
  position: relative;

  &.disabled {
    pointer-events: none;
  }
}

.eye {
  @include absolute-center-right(0);
  @include size(rem(56px), 100%);

  opacity: 0.5;
  border-radius: 0 rem(12px) rem(12px) 0;
  overflow: hidden;

  &:hover {
    background-color: var(--grey-alpha-100);
  }
}