@use '../config' as *;

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include smooth-font;

  min-width: rem(1366px);
  min-height: 100vh;
  overflow-y: auto;
  line-height: var(--line-height);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-thin);
  background-color: #fafafa;
}

button {
  @include reset-button;
}

button,
a,
.a {
  @include transition(all);
	
	font-weight: var(--typography-thin);
}

a,
.a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:active,
  &:hover {
    color: var(--color-primary);
  }
}

p {
  @include make-spacer(p, 0);
  @include make-spacer(m, 0);
}

ul,
ol {
  @include reset-list;
}

.picture,
.img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;

  &--cover {
    object-fit: cover;
  }

  &--responsive {
    height: auto;
  }
}

.u-full-height {
  height: 100%;
}

.u-full-width {
  width: 100%;
}

hr {
  @include make-spacer(my, 0);
  @include size(100%, rem(1px));

  display: block;
  background-color: var(--color-border);
  border: 0;
}

.main {
  @include make-spacer(p, 24px);
  @include make-spacer(ml, 56px);

  position: relative;
  overflow-x: auto;
  min-height: calc(100vh - rem(64px));
}

.action {
  @include make-spacer(mx, 1px);
  @include size(rem(32px));

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: rem(18px);
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary-hover);
  }

  &__label {
    @include flex(center, center);
    @include size(rem(20px));

    position: absolute;
    top: rem(-8px);
    right: rem(-8px);
    background-color: var(--color-warning);
    color: var(--color-white);
    border-radius: 50%;
    overflow: hidden;
    font-size: rem(10px);
    content: '';
  }

  i {
    pointer-events: none;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &--calculate {

    &.action {

      &--active {

        i {

          &::before {
            content: '\f0c7';
          }
        }
      }
    }
  }

  &--dropdown {

    &.action {

      &--active {

        i {

          &::before {
            content: '\f068';
          }
        }
      }
    }
  }
}

.preview {
  color: var(--color-white);

  &__time {
    font-size: rem(14px);
  }
}

.account {
  @include make-spacer(ml, auto);
  @include make-spacer(mr, 0);

  position: relative;

  &__link,
  &__item {
    @include flex;
    @include make-spacer(px, 16px);
    @include make-spacer(py, 5px);

    min-height: rem(36px);
  }

  &__icon {
    @include flex(center, center);
    @include size(rem(40px));

    cursor: pointer;
    border-radius: 50%;
    background-color: #bdbdbd;
    color: #fafafa;

    svg {
      @include size(75%);

      fill: currentColor;
    }
  }

  &__dropdown {
    @include make-spacer(py, 8px);

    display: none;
    position: absolute;
    top: calc(100% + rem(12px));
    right: 0;
    width: rem(250px);
    background-color: var(--color-white);
    box-shadow: var(--default-box-shadow);
    border-radius: var(--default-border-radius);
    z-index: $z-index-11;
  }

  &__item {
    flex-direction: column;
    font-size: rem(14px);
    font-weight: var(--typography-medium);
    opacity: 0.7;
  }

  &__link {
    align-items: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

.navbar {
  @include flex(null, center);

  &__link {
    @include make-spacer(mr, 15px);

    position: relative;
    font-size: rem(14px);

    &::after {
      @include absolute-center-right(rem(-12px));

      content: '/';
    }

    &:last-child {
      @include make-spacer(mr, 0);

      &::after {
        display: none;
      }
    }

    &:last-child:not(:first-child) {
      pointer-events: none;
      opacity: 0.3;
    }

    &:hover {
      color: var(--color-primary);
    }
  }
}

.toastify {

  &.info {
    background: #3498db;
  }

  &.warning {
    background: #f1c40f;
  }

  &.success {
    background: #07bc0c;
  }

  &.error {
    background: #e74c3c;
  }

  .toast-close {
    @include make-spacer(ml, 10px);
    @include make-spacer(p, 0);
  }
}
