@import "scss/config";

.block {
	position: fixed;
	top: rem(64px);
	bottom: 0;
	right: 0;
	z-index: $z-index-10;
	background-color: var(--color-white);
	border-left: rem(1px) solid var(--color-border);
	transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
	overflow: hidden;
	width: 0;

	&.active {
		width: rem(520px);
	}
}

.wrapper {
	width: rem(520px);
	overflow-y: auto;
	max-height: 100%;
	height: 100%;
}
