@import 'scss/config';

.block {
  @include flex($direction: column);
  @include make-spacer(p, 4px);
  @include transition;

  border-radius: rem(16px);
  gap: rem(12px);
  border: rem(4px) solid transparent;
  background-color: var(--game_container_color);

  &.active {
    border-color: var(--game_border_color_active);
  }

  @include media-breakpoint-up(lg) {
    @include make-spacer(p, rem(24px));
  }
}

.scale,
.numbers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.meta {
  display: grid;
  grid-template-columns: 1fr rem(40px);
  align-items: center;
}

.info {
  @include flex($align-items: center);

  gap: rem(8px);
}

.numbers {
  gap: rem(4px);

  @include media-breakpoint-up(lg) {
    gap: rem(12px);
  }
}

.scale {
  display: grid;
  gap: rem(4px);
}

.cell {
  @include flex(center);
}

.notification {
  @include flex($align-items: center);

  gap: rem(8px);
}

.value {
  @include transition;

  background-color: var(--game_button_color);
  height: rem(8px);

  &:first-child {
    border-radius: rem(8px) 0 0 rem(8px);
  }

  &:last-child {
    border-radius: 0 rem(8px) rem(8px) 0;
  }

  &.active {
    background-color: var(--game_button_color_active);
  }
}

.icon {

  &.accent {
    color: var(--game_button_color_active);
  }
}

.actions {
  @include flex;

  gap: rem(8px);
}