@import 'scss/config';

.block {
  @include make-spacer(pt, 28px);
  @include make-spacer(px, 4px);
  @include make-spacer(pb, 4px);
  @include flex(center, center, column);

  background-color: var(--game_background_color);
  border-radius: rem(20px);
  gap: rem(4px);

  .button {
    @include make-spacer(px, 20px);

    width: fit-content;
  }
}

.container {
  @include make-spacer(p, 8px);

  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: var(--game_container_color);
  border-radius: rem(20px);

  @include media-breakpoint-up(lg) {
    border: rem(4px) solid transparent;
    max-width: 100%;
  }

  &.lg {
    @include make-spacer(p, 4px);

    min-height: rem(150px);
  }
}

.tab {
  @include make-spacer(mb, 16px);
  @include flex;
  @include size(100%, rem(44px));

  gap: rem(8px);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .button {
    height: 100%;
  }
}

.form {
  @include flex($align-items: center, $wrap: wrap);

  column-gap: rem(4px);
  row-gap: rem(8px);

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
    column-gap: rem(8px);
  }

  >* {
    flex: 1;

    &:nth-child(3) {
      flex-basis: 100%;

      @include media-breakpoint-up(md) {
        flex-basis: 0;
      }
    }
  }
}

.table {
  @include make-spacer(pt, 8px);
  
  display: grid;
  row-gap: rem(20px);
}

.pagination {
  @include make-spacer(pt, 0);
}

.row {
  display: none;
  border-bottom: rem(1px) solid var(--game_background_color);
  height: rem(50px);
  text-transform: uppercase;
  font-size: rem(12px);
  letter-spacing: rem(1px);

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
}

.cell {
  @include flex($align-items: baseline);
  @include make-spacer(p, 4px);

  @include media-breakpoint-up(lg) {
    @include make-spacer(p, 10px);
  }

  &:last-child {
    @include media-breakpoint-up(lg) {
      text-align: right;
      justify-content: flex-end;
    }
  }
}

.empty {
  @include make-spacer(p, 10px);

  text-align: center;
}