@import 'scss/config';

.block {
    @include make-spacer(p, 24px);
    @include transition(all);

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100dvh;
    // max-height: calc(100dvh - rem(72px));
    z-index: $z-index-12;
    border-radius: rem(24px) rem(24px) 0 0;
    background-color: var(--color-white);
    transform: translateY(100%);

    @include media-breakpoint-up(xl) {
        @include make-spacer(p, 0);

        position: static;
        transform: translateY(0) !important;
        border-radius: 0;
    }

    &.active {
        transform: translateY(0);
        overflow-y: auto;
    }
}

.header {
    @include make-spacer(pb, 24px);

    display: grid;
    grid-template-columns: 1fr rem(40px);
    align-items: center;
    column-gap: rem(16px);
    border-bottom: rem(1px) solid var(--grey-alpha-200);
}

.button {
    @include make-spacer(p, 0);
    @include size(rem(36px));

    min-width: 0;
}

.body {
    @include make-spacer(pt, 24px);
}

.meta {
    @include make-spacer(mb, 8px);
    @include flex(space-between, center, null, wrap);

    gap: rem(16px);

    p {
        flex-shrink: 0;
    }
}

.ticket {
    @include flex($align-items: center, $direction: column);

    position: relative;
    min-height: rem(150px);
}

.status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-25deg);
    font-size: rem(50px);
    text-transform: uppercase;
    font-weight: var(--typography-bold);
    font-family: var(--font-family-alt);
    white-space: nowrap;
    opacity: 0.3;

    &.type-2 {
        color: var(--color-warning);
    }

    &.type-5 {
        color: var(--color-success);
    }
}

.date {
    font-size: rem(14px);
    opacity: 0.6;
}

.logo {
    @include make-spacer(my, 12px);
    @include size(rem(60px));
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: rem(24px);

    &::before {
        @include absolute-center;
        @include size(rem(40px), rem(4px));

        border-radius: rem(2px);
        background-color: var(--color-primary);
        content: '';
    }

    @include media-breakpoint-up(xl) {
        display: none;
    }
}

.info {
    @include make-spacer(mt, 12px);
}

.actions {
    @include make-spacer(mt, 12px);
    @include flex(center, center);

    gap: rem(16px);
}

.action {
    height: rem(40px);
}