@import 'scss/config';


.promo {
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr rem(206px);
    gap: rem(16px);
  }
}

.banners {
  max-height: rem(206px);
  width: 100%;
  overflow: hidden;
}

.banner {
  height: 100%;

  img {
    min-height: rem(132px);
    object-fit: cover;
  }
}

.stock {
  @include size(rem(162px), rem(216px));

  @include hover {

    &:hover {
      transform: scale(1.05);
    }
  }
}

.games {
  @include flex($wrap: wrap);

  gap: rem(16px);
}
