.react-select-container {
  height: 100%;
  font-weight: var(--typography-medium);
  cursor: pointer;

  .react-select__control {
    @include make-spacer(pl, 16px);

    height: 100%;
    border-radius: rem(12px);
    box-shadow: none;
    cursor: pointer;

    @include hover {

      &:hover {
        border-color: var(--grey-alpha-300);
      }
    }

    &--is-focused {
      border-color: var(--color-primary);
    }
  }

  .react-select__value-container {
    @include make-spacer(p, 0);
  }

  .react-select__input-container {
    @include make-spacer(m, 0);
  }

  .react-select__indicator-separator {
    display: none;
  }

  .react-select__indicator {
    @include flex(center, center);
    @include size(rem(56px), 100%);

    color: var(--color-text)!important;
    opacity: 0.5;
  }

  .react-select__clear-indicator {
    display: none;
  }

  .react-select__menu {
    overflow: hidden;
    border-radius: rem(12px);
    box-shadow: 0 rem(12px) rem(24px) var(--grey-alpha-200);
  }

  .react-select__menu-list {
    @include make-spacer(py, 0);
  }

  .react-select__option {
    @include transition;
    @include make-spacer(px, 16px);

    cursor: pointer;

    @include hover {

      &:hover {
        background-color: var(--color-primary);
      }
    }

    &--is-focused {
      background-color: var(--color-primary);
    }

    &--is-selected {
      background-color: var(--grey-alpha-100);
      pointer-events: none;
      color: var(--color-text);
    }
  }
}