// stylelint-disable

.select2-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin: 0;
  width: 100%;
  vertical-align: middle;
}

.select2-container .select2-container-dropdown {
  position: absolute;
}

.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  height: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-right: 20px;
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container .select2-selection--multiple {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  min-height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 5px;
  border: none;
  padding: 0;
  font-size: 100%;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  z-index: 1051;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: white;
  width: 100%;
}

.select2-results {
  display: block;
}

.select2-results__options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.select2-results__option {
  padding: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 99;
  margin: 0;
  border: 0;
  background-color: #fff;
  padding: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 28px;
  color: #444;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  float: right;
  cursor: pointer;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder__option {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  height: 26px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -4px;
  border-width: 5px 4px 0;
  border-style: solid;
  border-color: #888 transparent;
  width: 0;
  height: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 0 4px 5px;
  border-color: transparent transparent #888;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: white;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  float: left;
  margin-top: 5px;
  color: #999;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder__option {
  display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #e4e4e4;
  cursor: default;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  display: inline-block;
  margin-right: 2px;
  cursor: pointer;
  color: #999;
  font-weight: bold;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default.select2-container--focused .select2-selection--multiple {
  outline: 0;
  border: solid black 1px;
}

.select2-container--default:not(.select2-container--open) .select2-focused .select2-selection--single,
.select2-container--default:not(.select2-container--open) .select2-focused .select2-selection--multiple {
  outline: 0;
  border: solid black 1px;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  -webkit-appearance: textfield;
  outline: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  display: block;
  cursor: default;
  padding: 6px;
  color: gray;
}

select2.material {
  display: inline-block;
  width: 300px;
}

select2.material > .select2-container {
  padding-bottom: 1.29688em;
  vertical-align: inherit;
}

select2.material > .select2-container .selection {
  display: inline-flex;
  align-items: baseline;
  border-top: 0.84375em solid transparent;
  padding: 0.4375em 0;
  width: 100%;
  height: auto;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
}

select2.material .select2-container--default .select2-selection--single,
select2.material .select2-container--default .select2-selection--multiple {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  width: 100%;
  height: 24px;
}

select2.material .select2-container--default .select2-selection--single::before,
select2.material .select2-container--default .select2-selection--multiple::before {
  display: block;
  position: absolute;
  bottom: 1.65em;
  background-color: #ddd;
  width: 100%;
  height: 1px;
  content: ' ';
}

select2.material .select2-container--default .select2-selection--single::after,
select2.material .select2-container--default .select2-selection--multiple::after {
  display: block;
  position: absolute;
  bottom: 1.63em;
  left: 50%;
  -webkit-transition: none;
  transition: none;
  background-color: #5a419e;
  width: 0%;
  height: 2px;
  content: ' ';
}

select2.material .select2-container--default .select2-selection--single .select2-selection__rendered,
select2.material .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-left: 1px;
  line-height: inherit;
}

select2.material .select2-container--default .select2-selection--single .select2-selection__placeholder,
select2.material .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  -webkit-transform-origin: 0 21px;
  transform-origin: 0 21px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  color: rgba(0, 0, 0, 0.38);
}

select2.material .select2-container--default .select2-container--open {
  bottom: 1.6em;
  left: 0;
}

select2.material .select2-container--default .select2-selection__placeholder__option {
  -webkit-transform: translateY(-1.5em) scale(0.75) perspective(100px) translateZ(0.001px);
  transform: translateY(-1.5em) scale(0.75) perspective(100px) translateZ(0.001px);
  width: 133.33333%;
}

select2.material .select2-container--default .select2-selection__arrow {
  top: 20px;
}

select2.material .select2-container--default.select2-container--open .select2-selection--single::after,
select2.material .select2-container--default .select2-focused .select2-selection--single::after,
select2.material .select2-container--default.select2-container--open .select2-selection--multiple::after,
select2.material .select2-container--default .select2-focused .select2-selection--multiple::after {
  left: 0%;
  -webkit-transition: width 0.3s cubic-bezier(0.12, 1, 0.77, 1), left 0.3s cubic-bezier(0.12, 1, 0.77, 1);
  transition: width 0.3s cubic-bezier(0.12, 1, 0.77, 1), left 0.3s cubic-bezier(0.12, 1, 0.77, 1);
  width: 100%;
}

select2.material .select2-container--default .select2-dropdown {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

select2.material .select2-container--default .select2-results__option[aria-selected=true],
select2.material .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(0, 0, 0, 0.04);
  color: #000;
}

select2.material .select2-container--default .select2-results__option[aria-selected=true] {
  color: #ff5722;
}

select2.material .select2-container--default.select2-container--disabled .select2-selection--single,
select2.material .select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: transparent;
}

select2.material .select2-container--default.select2-container--disabled .select2-selection--single::before,
select2.material .select2-container--default.select2-container--disabled .select2-selection--multiple::before {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.26)), color-stop(33%, rgba(0, 0, 0, 0.26)), color-stop(0, transparent));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0, rgba(0, 0, 0, 0.26) 33%, transparent 0);
  background-position: 0 bottom;
  background-repeat: repeat-x;
  background-size: 4px 1px;
}

select2.material.ng-invalid.ng-touched .select2-container--default .select2-selection--single::before,
select2.material.ng-invalid.ng-touched .select2-container--default .select2-selection--multiple::before,
select2.material.ng-invalid.ng-touched .select2-container--default .select2-selection--single::after,
select2.material.ng-invalid.ng-touched .select2-container--default .select2-selection--multiple::after {
  background-color: red;
}

select2.material:not(.select2-container--open) .select2-focused .select2-selection--single,
select2.material:not(.select2-container--open) .select2-focused .select2-selection--multiple {
  border: 0;
}

select2.material .select2-subscript-wrapper {
  position: absolute;
  top: calc(100% - 1.72917em);
  font-size: 75%;
}
/* stylelint-disable selector-type-no-unknown */
@supports (-moz-appearance: none) {

  select2.material .select2-container--default .select2-selection--single,
  select2.material .select2-container--default .select2-selection--multiple {
    height: 26px;
  }
}

@supports (-ms-scroll-limit: 0) {

  select2.material .select2-container--default .select2-selection--single,
  select2.material .select2-container--default .select2-selection--multiple {
    height: 25px;
  }
}
