@import 'scss/config';

.block {
  @include size(100%, rem(48px));

  position: relative;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.label {
  @include make-spacer(px, 2px);
  @include transition;

  position: absolute;
  top: rem(16px);
  left: rem(16px);
  transform: translateY(rem(-21px));
  letter-spacing: rem(0.2px);
  font-size: rem(12px);
  pointer-events: none;
  display: inline;
  line-height: 1;

  span {
    @include make-spacer(ml, 3px);

    color: var(--color-warning);
  }

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: rem(5px);
    height: rem(1px);
    background-color: var(--color-white);
    z-index: -1;
    content: '';
  }
}

:global {
  @import './default';
}
