@use 'rem-converter' as *;

// stylelint-disable

@function get-prop-name($prop) {
  @if (index((m, mx, my, mt, mb, ml, mr), $prop)) {
    @return margin;
  }

  @else if (index((p, px, py, pt, pb, pl, pr), $prop)) {
    @return padding;
  }

  @else {
    @return null;
  }
}

@function get-prop-postfix-group($prop) {
  $postfix-group: ();

  @if (index((pl, ml, mx, px), $prop)) {
    $postfix-group: append($postfix-group, -left);
  }

  @if (index((pr, mr, mx, px), $prop)) {
    $postfix-group: append($postfix-group, -right);
  }

  @if (index((pt, mt, my, py), $prop)) {
    $postfix-group: append($postfix-group, -top);
  }

  @if (index((pb, mb, my, py), $prop)) {
    $postfix-group: append($postfix-group, -bottom);
  }

  @return $postfix-group;
}

@function get-prop-value($prop, $size) {
  @if (index((px, mx, pl, pr, ml, mr), $prop)) {
    @return $size;
  }

  @else if (index((py, my, pt, pb, mt, mb), $prop)) {
    @return $size;
  }

  @else if (index((p, m), $prop)) {
    @return $size;
  }

  @else {
    @error '#{$prop} is invalid value';
  }
}

@mixin _make-spacer($prop, $size) {
  $prop-size: rem($size);
  $prop-name: get-prop-name($prop);
  $prop-value: get-prop-value($prop, $prop-size);
  $prop-postfixes: get-prop-postfix-group($prop);

  @if (length($prop-postfixes) > 0) {
    @each $postfix in $prop-postfixes {
      #{$prop-name}#{$postfix}: $prop-value;
    }
  }

  @else {
    #{$prop-name}: $prop-value;
  }
}

@mixin make-spacer($prop, $size, $breakpoint: null) {
  @include _make-spacer($prop, $size);
}
