@import 'scss/config';

.block {
  @include make-spacer(pt, 16px);
  @include make-spacer(px, 16px);

  flex-grow: 1;
  border-radius: rem(32px) rem(32px) 0 0;
  background-color: var(--color-white);
  width: 100%;

  @include media-breakpoint-up(md) {
    @include make-spacer(px, 24px);
  }
}

.tab {
  @include flex;

  gap: rem(8px);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
  
  @include media-breakpoint-up(lg) {
    flex-wrap: wrap
  }
}

.link {
  height: rem(40px);
  flex-shrink: 0;
}

.container {
  @include make-spacer(py, 24px);

  position: relative;
  min-height: rem(200px);
}