@import 'scss/config';

.tab {
  @include flex;

  gap: rem(8px);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
  
  @include media-breakpoint-up(lg) {
    flex-wrap: wrap
  }
}

.link {
  height: rem(40px);
  flex-shrink: 0;
}

.container {
  @include make-spacer(py, 24px);

  position: relative;
  min-height: rem(200px);
}