@import 'scss/config';

.grid {
  display: grid;
  gap: rem(8px);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.row {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: rem(8px);
}

.button {
  @include size(fit-content, rem(40px));
}