@import 'scss/config';

.grid {
  display: grid;
  gap: rem(8px);
}

.row {
  display: grid;
  grid-template-columns: minmax(rem(100px), rem(200px)) 1fr;
  align-items: center;
  gap: rem(8px);

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.button {
  @include size(rem(150px), rem(40px));
}