@import 'scss/config';

.grid {
  display: grid;
  gap: rem(24px);
}

.row {
  display: grid;
  grid-template-columns: minmax(rem(100px), rem(200px)) rem(150px);
  align-items: center;
  gap: rem(8px);
}