@import 'scss/config';

.block {
  @include make-spacer(p, 8px);
  @include flex($direction: column);

  gap: rem(4px);
  background-color: var(--game_background_color);
  border-radius: rem(24px);

  @include media-breakpoint-up(lg) {
    position: sticky;
    top: rem(90px);
  }
}

.tickets {
  @include flex($direction: column);

  gap: rem(8px);
}

.item {
  @include make-spacer(px, 12px);
  @include flex(space-between, center);

  background-color: var(--game_button_color);
  border-radius: rem(12px);
  height: rem(40px);

  svg {
    font-size: rem(20px);
    color: var(--color-warning);
  }

  button {
    color: var(--font_color);
  }
}

.icon {
  @include make-spacer(mb, 16px);
  @include flex(center, center);
  @include size(rem(80px));

  border-radius: 50%;
  color: var(--font_color);
  font-size: rem(32px);
  background-color: var(--game_button_color);
}

.container {
  @include make-spacer(py, 28px);
  @include make-spacer(px, 18px);
  @include flex(center, center, column);

  background-color: var(--game_container_color);
  border-radius: rem(20px);
}

.ticket {
  @include flex($direction: column);

  width: 100%;
  gap: rem(24px);
}

.row {
  @include flex(space-between, center);

  gap: rem(4px);
}

.dots {
  flex-grow: 1;
  height: rem(2px);
  background: repeat-x radial-gradient(2px circle at 1px 1px, var(--game_button_font_color) 50%, transparent 50.2%) 0 0 / 6px 2px;
}

.reference {
  width: 100%;
}
