:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #157b15;
  --color-primary-hover: #116511;
  --color-primary-05: rgba(21, 123, 21, 0.5);
  --color-primary-01: rgba(21, 123, 21, 0.1);
  --color-text: rgba(0, 0, 0, 0.87);
  --color-warning: #f50057;
  --color-warning-hover: #c20045;
  --color-danger: #ffce56;
  --color-border: rgba(0, 0, 0, 0.12);
  --color-alto: #d4d4d4;
}
