:root {
	--color-white: #fff;
	--color-black: #000;

	--color-primary: #2B73B3;
	--color-primary-hover: #21598a;
	--color-primary-05: rgba(43, 115, 179, 0.5);
	--color-primary-01: rgba(43, 115, 179, 0.1);

	--color-secondary: #2B2F33;
	--color-secondary-hover: #141617;

	--color-text: rgba(0, 0, 0, 0.87);
	--color-warning: #f50057;

	--color-border: rgba(0, 0, 0, 0.12);
}
