@use 'scss/config' as *;

:root {
  --font-size: 16px;
  --font-family: 'Roboto', sans-serif;
  --font-family-alt: 'Montserrat', sans-serif;
  --line-height: 1.5;
  --typography-regular: 400;
  --typography-medium: 500;
  --typography-bold: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include make-spacer(m, 0);

  font-family: var(--font-family-alt);
  font-weight: var(--typography-bold);
  letter-spacing: rem(1px);
}

h1 {
  font-size: rem(36px);

  @include media-breakpoint-up(lg) {
    font-size: rem(42px);
  }
}

h2 {
  font-size: rem(30px);

  @include media-breakpoint-up(lg) {
    font-size: rem(36px);
  }
}

h3 {
  font-size: rem(26px);

  @include media-breakpoint-up(lg) {
    font-size: rem(32px);
  }
}

h4 {
  font-size: rem(24px);

  @include media-breakpoint-up(lg) {
    font-size: rem(30px);
  }
}

h5 {
  font-size: rem(20px);

  @include media-breakpoint-up(lg) {
    font-size: rem(24px);
  }
}

h6 {
  font-size: rem(18px);

  @include media-breakpoint-up(lg) {
    font-size: rem(22px);
  }
}
