@import 'scss/config';

.block {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: rem(24px);
}

.list,
.form,
.action {
    display: grid;
    gap: rem(4px);
}

.wrapper {
    @include flex($direction: column);

    position: relative;
}

.list {
    @include make-spacer(mb, 24px);
  
    align-items: flex-start;

    @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, 1fr);
    }
  
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.form {
    max-width: rem(640px);

    @include media-breakpoint-up(sm) {
        grid-template-columns: 3fr 1fr;
    }
}

.action {
    grid-template-columns: repeat(2, 1fr);
}

.item {
    justify-content: flex-start
}

.pagination {
    @include make-spacer(mt, auto);
}