@import 'scss/config';

.root {
  background-color: #fafafa;
  min-width: rem(1366px);
  height: 100vh;
  overflow-y: auto;
  line-height: var(--line-height);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-thin);
}

button,
a,
input {

  &:focus {
    outline: none;
  }
}

button,
a {
  @include transition(all);
}


button {
  @include reset-button;
}

button,
a,
.a {
  @include transition(all);
}

a,
.a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:active,
  &:hover {
    color: var(--color-primary);
  }
}

p {
  @include make-spacer(p, 0);
  @include make-spacer(m, 0);
}

ul,
ol {
  @include reset-list;
}

picture,
img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;
}

hr {
  @include make-spacer(my, 0);
  @include size(100%, rem(1px));

  display: block;
  border: 0;
  background-color: var(--color-border);
}
