@import 'scss/config';

body {
  background-color: var(--color-background);
  line-height: var(--line-height);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-regular);

  @include media-breakpoint-up(lg) {
    overflow-y: auto!important;
  }
}

a,
button,
input {
  color: var(--color-text);

  &:focus {
    outline: none;
  }
}

input {
  font-weight: var(--typography-medium);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @include make-spacer(m, 0);

    -webkit-appearance: none;
    -moz-appearance: textfield;
  }
}

button,
a {
  @include transition(all);
}

button {
  @include reset-button;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

p {
  @include make-spacer(p, 0);
  @include make-spacer(m, 0);
}

ul,
ol {
  @include reset-list;
}

picture,
img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;
}

hr {
  @include make-spacer(my, 0);
  @include size(100%, rem(1px));

  display: block;
  border: 0;
  background-color: var(--grey-alpha-300);
}

.main {
  @include flex($direction: column);
  @include make-spacer(mx, auto);

  position: relative;
  width: 100%;
  min-width: var(--min-width);
  max-width: var(--max-width);
  min-height: 100dvh;
}

.content {
  @include flex($direction: column);
  @include make-spacer(pt, 16px);

  flex-grow: 1;
}
