@import 'scss/config';

.block {
  @include flex($align-items: center);

  position: relative;
  gap: rem(8px);
}

.item {
  @include make-spacer(px, 8px);

  height: rem(40px);
  flex-shrink: 0;

  &.alt {
    pointer-events: none;
  }
}

.hr {
  @include size(rem(5px));

  background-color: var(--grey-alpha-200);
  border-radius: 50%;
}