@import 'scss/config';

.container {
  @include flex($direction: column);
}

.content,
.list {
  @include flex($direction: column);

  position: relative;
  flex-grow: 1;
}

.grid {
  display: grid;
  gap: rem(24px);
  flex-shrink: 0;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(16px);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(24px);
  }
}

.pagination {
  @include make-spacer(mt, auto);
}