@import 'scss/config';

.block {
  @include size(rem(162px), rem(216px));

  display: block;
  position: relative;
  border-radius: rem(20px);
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    @include size(rem(264px), rem(352px));

    @include hover {

      &:hover {
        transform: scale(1.03);

        .picture {
          @include make-spacer(mt, rem(-45px));

          opacity: 0;
        }

        .description {
          max-height: 100%;
          opacity: 1;
        }
      }
    }
  }
}

.picture,
.description {
  @include transition;
}

.body {
  @include size(100%);
  @include make-spacer(px, 8px);
  @include make-spacer(pt, 12px);
  @include make-spacer(pb, 8px);
  @include flex($direction: column);

  @include media-breakpoint-up(lg) {
    @include make-spacer(px, 12px);
    @include make-spacer(pt, 40px);
    @include make-spacer(pb, 12px);
  }
}

.picture {
  @include make-spacer(mb, 16px);
  @include size(100%);

  max-height: rem(45px);

  @include media-breakpoint-up(lg) {
    max-height: rem(85px);
  }
}

.img {
  aspect-ratio: 53 / 21;
}

.content {
  text-align: center;
}

.time {
  @include flex(center, center);
  @include make-spacer(mt, 8px);
  @include make-spacer(mx, auto);
  @include make-spacer(px, 10px);
  @include make-spacer(py, 4px);

  position: relative;
  gap: rem(4px);
  background-color: var(--grey-alpha-200);
  border-radius: rem(14px);
  width: fit-content;
  font-size: rem(14px);
  font-weight: var(--typography-medium);

  @include media-breakpoint-up(lg) {
    @include make-spacer(mt, 0);
    @include make-spacer(ml, 0);

    position: absolute;
    top: rem(11px);
    right: rem(11px);
    left: rem(11px);
  }
}

.description {
  @include line-clamp(3);

  display: none;
  opacity: 0;
  max-height: 0;
  text-align: center;
  font-size: rem(17px);
  line-height: rem(24px);

  @include media-breakpoint-up(lg) {
    display: -webkit-box;
  }
}

.title {
  font-size: rem(12px);

  @include media-breakpoint-up(lg) {
    font-size: rem(16px);
  }
}

.prize {
  font-size: rem(18px);
  line-height: 1;

  @include media-breakpoint-up(lg) {
    font-size: rem(26px);
    line-height: 1.5;
  }
}

.action {
  @include make-spacer(mt, auto);
  @include flex(center, center);

  border-radius: rem(6px);
  box-shadow: 0 rem(10px) rem(16px) rem(-4px) var(--grey-alpha-300);
  background-color: var(--color-white);
  padding: rem(8px);
  gap: rem(17px);
  font-weight: var(--typography-medium);
  font-size: rem(12px);
  color: var(--color-text);

  @include media-breakpoint-up(lg) {
    @include make-spacer(p, 12px);

    border-radius: rem(10px);
    gap: rem(25px);
    font-size: rem(16px);
  }
}

.price {
  position: relative;

  &::before {
    @include size(rem(1px), rem(16px));

    position: absolute;
    top: 50%;
    left: rem(-8px);
    background-color: var(--grey-alpha-300);
    transform: translateY(-50%);
    content: '';

    @include media-breakpoint-up(lg) {
      left: rem(-12px);
      height: rem(12px);
    }
  }
}
