@import 'scss/config';

.block {
  @include size(100%, rem(48px));

  position: relative;
}

.label {
  @include make-spacer(px, 2px);
  @include transition;

  position: absolute;
  top: rem(16px);
  left: rem(16px);
  transform: translateY(rem(-20px));
  background-color: var(--color-white);
  letter-spacing: rem(0.2px);
  font-size: rem(12px);
  pointer-events: none;
  display: inline;
  line-height: 1;

  span {
    @include make-spacer(ml, 3px);

    color: var(--color-warning);
  }
}

.input {
  @include make-spacer(px, 16px);
  @include transition(border-color);
  @include size(100%);

  border: rem(1px) solid var(--grey-alpha-300);
  border-radius: rem(12px);
  overflow: hidden;

  &:focus {
    border-color: var(--color-primary);
  }
}
