@import 'scss/config';

.block {
  @include flex;
  @include size(100%, rem(48px));

  position: relative;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.game {

    .label {

      &::before {
        height: rem(3px);
        background-color: var(--game_button_color);
      }
    }

    .input {
      @include transition(box-shadow);

      border: 0;
      box-shadow: inset 0 rem(2px) 0 var(--grey-alpha-300);
      background-color: var(--game_button_color);
      color: var(--game_button_font_color);

      &:not(:focus) {

        &:hover {
          box-shadow: inset 0 rem(2px) 0 var(--game_button_color_hover);
        }
      }
    
      &:focus {
        box-shadow: inset 0 rem(2px) 0 var(--game_button_color_active);
      }
    }

    .icon {
      color: var(--game_button_font_color);
      opacity: 1;
    }
  }
}

.label {
  @include make-spacer(px, 2px);
  @include transition;

  position: absolute;
  top: rem(16px);
  left: rem(16px);
  transform: translateY(rem(-21px));
  letter-spacing: rem(0.2px);
  font-size: rem(12px);
  pointer-events: none;
  display: inline;
  line-height: 1;

  span {
    @include make-spacer(ml, 3px);

    color: var(--color-warning);
  }

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: rem(5px);
    height: rem(1px);
    background-color: var(--color-white);
    z-index: -1;
    content: '';
  }
}

.input {
  @include make-spacer(px, 16px);
  @include transition(border-color);
  @include size(100%);

  border: rem(1px) solid var(--grey-alpha-300);
  border-radius: rem(12px);
  overflow: hidden;
  background-color: transparent;
  text-align: left;

  &[type='datetime-local'],
  &[type='date'] {
    @include make-spacer(pr, 64px);

    appearance: none;

    &::-ms-clear,
    &::-moz-clear,
    &::-ms-inner-spin-button,
    &::-moz-inner-spin-button {
      display: none;
    }

    &::-webkit-clear-button,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button,
    &::-webkit-calendar-picker-indicator {
      @include size(rem(56px), 100%);

      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      color: transparent;
      z-index: 1;
    }
  }

  &:focus {
    border-color: var(--color-primary);
  }
}

.icon {
  @include size(rem(56px), 100%);
  @include absolute-center-right(0);

  cursor: pointer;
  pointer-events: none;
  opacity: 0.5;
}