@import 'scss/config';

.block {
  @include flex($align-items: center, $wrap: wrap);

  gap: rem(8px);
  font-size: rem(13px);
}

.link {
  color: var(--color-secondary);

  @include hover {

    &:hover {
      color: var(--color-primary-hover);
    }
  }
}

.text {
  opacity: 0.3;
}