@import 'scss/config';

.block {
  // @include make-spacer(px, 20px);
  @include flex;

  gap: rem(8px);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
  
  @include media-breakpoint-up(lg) {
    flex-wrap: wrap
  }
}

.link {
  @include make-spacer(px, 16px);

  height: rem(40px);
  flex-shrink: 0;
}