@import 'scss/config';

.block {
  @include make-spacer(py, 4px);
  @include make-spacer(mx, auto);

  background-color: var(--game_background_color);
  border: rem(4px) solid transparent;
  border-radius: rem(20px);

  @include media-breakpoint-up(lg) {
    @include make-spacer(p, 4px);

    border: rem(4px) solid transparent;
    max-width: 100%;
  }

  &.active {
    border-color: var(--game_border_color_active);
  }
}

.meta {
  @include make-spacer(px, 4px);

  display: grid;
  grid-template-columns: 1fr rem(40px);
  align-items: center;

  @include media-breakpoint-up(lg) {
    @include make-spacer(py, 15px);
    @include make-spacer(px, 10px);
  }
}

.title {
  @include make-spacer(py, 8px);
  @include make-spacer(pl, 4px);

  color: var(--font_color);

  @include media-breakpoint-up(lg) {
    @include make-spacer(py, 15px);
    @include make-spacer(px, 10px);
  }
}

.container {
  @include make-spacer(mb, 4px);
  @include make-spacer(px, 4px);
  @include make-spacer(py, 8px);

  border-radius: rem(20px);
  background-color: var(--game_container_color);

  &:last-child {
    @include make-spacer(mb, 0);
  }

  @include media-breakpoint-up(lg) {
    @include make-spacer(p, 22px);
  }
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(8px);

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.action {
  pointer-events: unset!important;
}

.stake {
  @include make-spacer(mt, 16px);
}

.head {
  display: none;

  @include media-breakpoint-up(lg) {
    @include make-spacer(pb, 8px);
    
    display: grid;
    grid-template-columns: calc(50% - rem(42px)) repeat(3, 1fr) repeat(2, rem(30px));
    gap: rem(8px);
    border-bottom: rem(1px) solid var(--game_background_color);
    font-weight: var(--typography-medium);
    text-align: center;
  }
}