@import 'scss/config';

.block {
  @include flex(space-between, center);
  @include make-spacer(px, 10px);

  position: sticky;
  top: 0;
  z-index: $z-index-10;
  height: rem(72px);

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }
}

.logo {
  @include make-spacer(mr, 0);
  @include size(rem(140px), rem(42px));

  flex-shrink: 0;
  background-color: var(--color-black);

  @include media-breakpoint-up(lg) {
    @include make-spacer(mr, 48px);
    @include size(rem(130px), rem(40px));
  }
}

.link {
  @include make-spacer(mr, auto);
  @include transition;

  display: none;

  @include media-breakpoint-up(lg) {
    @include flex(center, center);

    cursor: pointer;
    font-weight: var(--typography-medium);
  }

  &:hover {

    .text {
      background-color: rgba(0, 0, 0, 0.055);
    }
  }

  &.active {

    .icon {
      transform: rotateZ(180deg);
    }
  }
}

.text {
  @include flex($align-items: center);
  @include make-spacer(px, 8px);
  @include transition;

  border-radius: rem(8px);
  line-height: rem(36px);
  gap: rem(4px);
}

.icon {
  @include transition;
}
