@import 'scss/config';

.block {
  display: grid;
  grid-template-columns: 1fr minmax(rem(200px), 50%);
  align-items: center;
  gap: rem(32px);
  height: 100%;
  overflow: hidden;
}

.chart {
  @include flex($align-items: center);

  height: 100%;
  overflow: hidden;
}

.item {
  @include make-spacer(py, 10px);

  border-bottom: rem(1px) solid var(--color-border);
}

.meta {
  display: grid;
  grid-template-columns: rem(15px) 1fr;
  align-items: center;
  gap: rem(8px);
}

.value {
  @include make-spacer(pl, 23px);
}

.color {
  @include size(rem(15px));

  border: rem(1px) solid var(--color-border);
  border-radius: 50%;
}
