@import 'scss/config';

.block {
  @include flex(center, center);

  position: fixed;
  inset: 0;
  z-index: $z-index-11;
  background-color: var(--grey-alpha-500);
}

.container {
  @include make-spacer(p, 30px);
  @include flex(center, center, column);

  gap: rem(10px);
  width: 100%;
  max-width: rem(400px);
  background-color: var(--game_container_color);
  border-radius: rem(20px);
  text-align: center;
}