@import 'scss/config';

.block {
    @include flex($direction: column);

    gap: rem(24px);
    overflow: hidden;
}

.form,
.grid,
.numbers,
.payments {
    display: grid;
}

.grid,
.numbers {
    gap: rem(8px);
}

.form,
.payments {
    max-width: rem(740px);
}

.wrapper,
.table {
    flex-grow: 1;
    position: relative;
}

.preview {
    @include flex($justify-content: space-between, $align-items: center, $wrap: wrap);

    column-gap: rem(24px);
    row-gap: rem(8px);
    overflow: hidden;
}

.actions {
    @include flex;
    
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: rem(8px);
  
    &::-webkit-scrollbar {
      display: none;
    }
}

.action {
    white-space: nowrap;
    flex-shrink: 0;
}

.form {
    gap: rem(24px);
}

.grid {
    align-items: center;

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.numbers {
    grid-template-columns: repeat(3, 1fr);
}

.number {
    height: rem(36px);
    white-space: nowrap;
    min-width: 0;
}

.payments {
    grid-template-columns: 1fr;
    gap: rem(12px);

    @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.table {
    @include flex($direction: column);
}

.list {
    display: grid;
    gap: rem(4px);
    overflow-x: auto;
}

.pagination {
    @include make-spacer(mt, auto);
}

.notification {
    width: fit-content;
}

.row {
    display: grid;
    grid-template-columns: rem(100px) 1fr repeat(2, (120px)) repeat(4, 1fr);
    gap: rem(4px);
    font-size: rem(14px);
    min-width: rem(1060px);
    
    &:first-child {
        
        .cell {
            background-color: var(--grey-alpha-300);

            &:first-child {
                border-radius: rem(8px) 0 0 0;
            }

            &:last-child {
                border-radius:  0 rem(8px) 0 0;
            }
        }
    }

    &:last-child {
        
        .cell {

            &:first-child {
                border-radius: 0 0 0 rem(8px);
            }

            &:last-child {
                border-radius:  0 0 rem(8px) 0;
            }
        }
    }

    &.expired {

        .cell {
            opacity: 0.5;
        }
    }

    &.new {

        .cell {
            font-weight: var(--typography-bold);
        }
    }
}

.cell {
    @include flex($align-items: center);
    @include make-spacer(p, 10px);
  
    background-color: var(--grey-alpha-200);
}


.filter {
    @include flex;
    @include make-spacer(mb, 24px);

    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: rem(8px);

    &::-webkit-scrollbar {
        display: none;
    }
}

.type {
    @include make-spacer(px, 12px);
    @include flex($align-items: center);

    gap: rem(8px);
    border-radius: rem(12px);
    height: rem(40px);
    border: rem(1px) solid var(--grey-alpha-200);
    flex-shrink: 0;

    @include hover {

        &:hover {
            border-color: var(--color-primary);
        }
    }

    &.active {
        pointer-events: none;
        background-color: var(--color-primary);
        border-color: var(--color-primary);
    }
}

.logo {
    @include size(rem(32px));
}