@import 'scss/config';

.block {
  @include flex;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  gap: rem(8px);

  &::-webkit-scrollbar {
    display: none;
  }
}

.button {
  flex-shrink: 0;
}