@mixin icon {
  @include make-spacer(mx, 1px);
  @include size(rem(32px));

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  font-size: rem(18px);

  .icon {
    font-size: rem(20px);
    pointer-events: none;
  }

  &:hover {
    color: var(--color-primary-hover);
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
