@import 'scss/config';

.block {
  width: 100%;
  overflow: hidden;
  font-size: rem(14px);
}

.wrapper {
  @include make-spacer(pl, 10px);

  background-color: var(--color-primary-01);
}

.overflow {
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: rem(15px);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-alto);
    height: rem(5px);
  }

  &::-webkit-scrollbar-thumb {
    border: rem(5px) solid var(--color-alto);
    background-color: var(--color-primary);
  }
}

.table {
  width: fit-content;
}

.row {
  display: grid;
  border-bottom: rem(1px) solid var(--color-border);

  &.headline {
    font-size: rem(12px);
    font-weight: var(--typography-medium);
  }

  &.wide {
    grid-template-columns: rem(150px) 1fr !important;

    .cell {

      &:nth-child(2) {
        @include make-spacer(pr, 150px);

        justify-content: center;
        text-align: center;
      }
    }
  }

  &.sm {
    grid-template-columns: rem(50px) 1fr;
  }

  &.lg {
    grid-template-columns: 1fr rem(150px) repeat(14, 1fr);
    width: fit-content;

    .cell {
      @include make-spacer(py, 6px);

      min-width: rem(150px);
    }
  }

  &.active {
    background-color: var(--color-primary-05);
  }
}

.cell {
  @include flex(null, center, null, wrap);
  @include make-spacer(p, 12px);
}

.icon {
  @include make-spacer(mr, 10px);

  color: var(--color-primary);
}

.empty {
  @include make-spacer(pt, 12px);
  @include make-spacer(px, 12px);

  text-align: center;
}
