@import 'scss/config';

.block {
  width: 100%;
  font-size: rem(14px);
  font-weight: var(--typography-thin);
}

.wrapper {
  @include make-spacer(pt, 10px);
  @include make-spacer(pl, 10px);

  background-color: var(--color-primary-01);

  .cell {
    @include make-spacer(py, 6px);
  }

  .wrapper {
    @include make-spacer(pt, 0);
  }
}

.table {

  .row {

    &:last-child {
      border-bottom: 0;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr repeat(2, rem(80px)) repeat(8, 1fr);
  border-bottom: rem(1px) solid var(--color-border);

  &.headline {
    font-size: rem(12px);
    font-weight: var(--typography-medium);
  }

  &.wide {
    @include make-spacer(pb, 12px);

    grid-template-columns: 1fr;
  }

  &.sm {
    grid-template-columns: rem(50px) rem(300px) 1fr rem(150px);
  }

  &.active {
    background-color: var(--color-primary-05);
  }
}

.cell {
  @include flex(null, center, null, wrap);
  @include make-spacer(p, 12px);
}

.icon {
  @include make-spacer(mr, 10px);

  color: var(--color-primary);
}

.empty {
  @include make-spacer(pt, 12px);

  text-align: center;
}
