@import 'scss/config';

.block {
  @include flex($direction: column);

  flex-grow: 1;
}

.shadow {
  display: none;
  position: fixed;
  inset: 0;
  z-index: $z-index-11;
  background-color: var(--grey-alpha-700);

  @include media-breakpoint-up(xl) {
    display: none!important;
  }

  &.active {
    display: block;
    animation: opacity 0.3s linear forwards;
  }
}

.betslip {
  @include make-spacer(p, 8px);

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-9;
  background-color: var(--game_background_color);
  border-radius: rem(20px) rem(20px) 0 0;

  @include media-breakpoint-up(xl) {
    display: none!important;
  }
}

.content {
  @include size(100%);
  @include make-spacer(pt, 16px);
  @include make-spacer(px, 8px);

  flex-grow: 1;
  border-radius: rem(32px) rem(32px) 0 0;
  background-color: var(--game_color);
  color: var(--font_color);

  @include media-breakpoint-up(xl) {
    @include make-spacer(px, 24px);
    @include make-spacer(pt, 16px);
    @include make-spacer(pb, 24px);
  }
}

.header {
  @include flex($justify-content: space-between, $align-items: flex-start, $wrap: wrap);

  position: relative;
  gap: rem(8px);
}

.info {
  display: grid;
  gap: rem(8px);

  @include media-breakpoint-up(xl) {
    align-items: center;
    grid-template-columns: rem(90px) 1fr;
    gap: rem(16px);
  }
}

.picture {
  @include size(rem(130px), auto);

  @include media-breakpoint-up(xl) {
    @include size(100%, rem(90px));
  }
}

.meta {
  @include make-spacer(pt, 8px);
  @include flex($align-items: center, $wrap: wrap);

  gap: rem(16px);
  font-size: rem(18px);
  font-weight: var(--typography-medium);
}

.icon {
  @include make-spacer(mr, 8px);
}

.hr {
  @include size(rem(1px), rem(16px));

  background-color: var(--font_color);
}

.body {
  @include make-spacer(mt, 20px);
}

.tab {
  @include flex;

  gap: rem(8px);
  height: rem(44px);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.button {
  @include flex($align-items: center);
  @include make-spacer(pl, 6px);
  @include make-spacer(pr, 20px);

  border-radius: rem(8px);
  gap: rem(10px);
  background-color: var(--game_button_color);
  color: var(--game_button_font_color);
  text-transform: uppercase;
  font-weight: var(--typography-medium);
  letter-spacing: rem(1px);
  font-size: rem(14px);
  white-space: nowrap;

  @include media-breakpoint-up(xl) {
    border-radius: rem(12px);
  }

  .icon {
    @include make-spacer(mr, 0);
    @include flex(center, center);
    @include size(rem(24px));

    border-radius: rem(4px);
    font-size: rem(16px);

    @include media-breakpoint-up(xl) {
      @include size(rem(36px));

      border-radius: rem(10px);
      font-size: rem(20px);
    }
  }

  &:hover {
    background-color: var(--game_button_color_hover);
    color: var(--game_button_font_color_hover);
  }

  &.active {
    pointer-events: none;
    background-color: var(--game_button_color_active);
    color: var(--game_button_font_color_active);

    .icon {
      color: var(--game_icon_color_active);
      background-color: var(--game_icon_color);
    }
  }
}

.toggle {
  @include flex($direction: column);
  @include make-spacer(pt, 16px);

  gap: rem(16px);

  @include media-breakpoint-up(xl) {
    flex-direction: row;
  }
}

.column {
  position: relative;

  &:nth-child(1) {
    flex-grow: 1;
  }

  &:nth-child(2) {

    @include media-breakpoint-up(xl) {
      width: rem(350px);
    }
  }
}
