@import 'scss/config';

.block {
  @include flex($direction: column);

  flex-grow: 1;
}

.content {
  @include size(100%);
  @include make-spacer(pt, 16px);
  @include make-spacer(px, 24px);

  flex-grow: 1;
  border-radius: rem(32px) rem(32px) 0 0;
  background-color: var(--color-white);

  @include media-breakpoint-up(lg) {
    @include make-spacer(pt, 24px);
  }
}

.header {
  @include flex($justify-content: space-between, $align-items: flex-start, $wrap: wrap);

  position: relative;
  gap: rem(8px);
}

.info {
  display: grid;
  grid-template-columns: rem(90px) 1fr;
  align-items: center;
  gap: rem(16px);
}

.picture {
  @include size(100%, rem(90px));
}

.jackpot {

  span {
    color: var(--color-warning);
  }
}

.meta {
  @include make-spacer(pt, 8px);
  @include flex($align-items: center, $wrap: wrap);

  gap: rem(16px);
}

.icon {
  @include make-spacer(mr, 8px);
}

.time {
  font-weight: var(--typography-medium);
}
