@import 'scss/config';

.form {
  display: grid;
  column-gap: rem(4px);
  row-gap: rem(8px);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.container {
  @include make-spacer(pt, 24px);
}

.table {

  @include media-breakpoint-up(md) {
    max-width: rem(66.6%);
  }

  @include media-breakpoint-up(lg) {
    max-width: rem(50%);
  }
}

.row {
  @include make-spacer(mb, 4px);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(4px);

  &:first-child {

    .cell {

      &:first-child {
        border-radius: rem(8px) 0 0 0;
      }

      &:last-child {
        border-radius: 0 rem(8px) 0 0;
      }
    }
  }

  &:last-child {

    .cell {

      &:first-child {
        border-radius: 0 0 0 rem(8px);
      }

      &:last-child {
        border-radius: 0 0 rem(8px) 0;
      }
    }
  }
}

.cell {
  @include make-spacer(p, 10px);

  background-color: var(--grey-alpha-200);
  // border-radius: rem(8px);

  &:last-child {
    text-align: right;
  }
}