@import 'scss/config';

.block {
    display: grid;
    grid-template-rows: rem(32px) auto;
    gap: rem(24px);
    position: relative;
}

.grid {
    display: grid;
    gap: rem(24px);
    max-width: rem(460px);
}