@import 'scss/config';

.block {
    display: grid;
    grid-template-rows: rem(32px) auto;
    gap: rem(24px);
}

.wrapper {
    @include flex($align-items: center);

    column-gap: rem(8px);
}

.tab {
    @include flex;

    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: rem(8px);

    &::-webkit-scrollbar {
        display: none;
    }
}

.button {
    border-radius: rem(20px);
    height: rem(32px);
    flex-shrink: 0;
}

.grid {
    display: grid;
    gap: rem(24px);
    max-width: rem(460px);
}

.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(8px);
}