@import 'scss/config';

.block {
  @include size(rem(144px), rem(138px));
  
  display: grid;
  position: relative;
  flex-shrink: 0;
  border-radius: rem(16px);
  overflow: hidden;
  min-height: rem(56px);

  @include media-breakpoint-up(lg) {
    width: rem(260px);
    min-height: rem(65px);
    height: auto;

    @include hover {

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

.body {
  @include size(100%);
  @include make-spacer(p, 8px);
  @include flex($direction: column);

  display: grid;
  gap: rem(8px);
  align-items: center;
  background-color: var(--grey-200);

  @include media-breakpoint-up(lg) {
    grid-template-columns: rem(40px) 1fr;
  }
}

.time {
  @include flex(center, center);
  @include size(rem(100px), rem(20px));
  @include make-spacer(px, 6px);

  gap: rem(4px);
  background-color: hsla(0, 0%, 100%, 0.12);
  border-radius: rem(16px);
  font-size: rem(12px);
  line-height: 1;
  font-weight: var(--typography-medium);

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: rem(8px);
    right: rem(8px);
  }
}

.picture {
  @include size(rem(40px));
}

.content {
  @include make-spacer(mt, auto);

  flex-grow: 1;

  @include media-breakpoint-up(lg) {
    @include make-spacer(mt, 4px);
  }
}

.title {
  font-size: rem(12px);

  @include media-breakpoint-up(lg) {
    font-size: rem(14px);
  }
}

.prize {
  font-size: rem(16px);
}

.game {
  @include flex(center, center);
  
  gap: rem(5px);
  text-align: center;
}

.cube {
  animation: spin 0.5s linear infinite;

  &:nth-child(1) {
    animation-delay: 0.3s;
  }

  &:nth-child(2) {
    animation-delay: 0.15s;
  }
}

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateY(-6px) rotate(45deg);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(0) rotate(90deg);
    animation-timing-function: ease-out;
  }
}