@import 'scss/config';

.block {
  @include make-spacer(mx, var(--outer-gap-decrement));
  @include make-spacer(px, var(--outer-gap));
  @include flex($align-items: center);

  position: sticky;
  top: 0;
  z-index: $z-index-10;
  height: rem(72px);
  background-color: var(--color-background);
  gap: rem(8px);

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }
}

.icon,
.line,
.text {
  @include transition;
}

.logo {
  @include make-spacer(mr, auto);
  @include size(rem(140px), auto);

  flex-shrink: 0;
  order: 1;

  @include media-breakpoint-up(lg) {
    @include make-spacer(mr, 0);

    width: rem(130px);
    order: 0
  }
}

.button {
  cursor: pointer;
  order: 0;

  * {
    pointer-events: none;
  }

  &:hover {

    .text {
      background-color: var(--grey-alpha-100);
    }
  }

  @include media-breakpoint-up(lg) {
    @include make-spacer(mr, auto);

    order: 1
  }
}

.link {
  display: none;

  @include media-breakpoint-up(lg) {
    @include flex(center, center);

    font-weight: var(--typography-medium);
  }

  &.active {

    .icon {
      transform: rotateZ(180deg);
    }
  }
}

.text {
  @include flex($align-items: center);
  @include make-spacer(px, 8px);

  border-radius: rem(8px);
  line-height: rem(36px);
  gap: rem(4px);

  @include media-breakpoint-up(lg) {
    @include make-spacer(px, 12px);

    line-height: rem(40px);
    border-radius: rem(12px);
  }
}

.toggle {
  @include size(rem(48px));
  @include flex(center, center, column);

  flex-shrink: 0;
  border-radius: rem(12px);
  background-color: var(--grey-alpha-100);

  &.active {

    .line {

      &:nth-child(1) {
        transform: translateY(rem(6px)) rotateZ(45deg);
      }

      &:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(rem(-6px)) rotateZ(-45deg);
      }
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.line {
  @include make-spacer(my, 2px);
  @include size(50%, rem(2px));

  background-color: var(--color-black);
}
