@import 'scss/config';

.block {
  @include make-spacer(pt, 14px);
  @include make-spacer(px, 10px);
  @include make-spacer(pb, 22px);
  @include flex($direction: column);

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  gap: rem(6px);
  z-index: $z-index-11;
  background-color: var(--color-background);
  white-space: nowrap;

  &.active {

    .item {
      width: rem(220px);
    }

    .toggle {

      svg {
        transform: rotateZ(180deg);
      }
    }
  }
}

.toggle {
  @include size(rem(44px));

  min-width: 0;

  @include hover {

    &:hover {
      background-color: var(--grey-alpha-200);
    }
  }
  
  svg {
    @include transition;
  }
}

.item {
  @include make-spacer(p, 4px);

  display: grid;
  grid-template-columns: rem(44px) 1fr;
  align-items: center;
  gap: rem(6px);
  border-radius: rem(6px);
  width: rem(48px);
  overflow: hidden;
  font-size: rem(14px);
  line-height: rem(20px);
  letter-spacing: rem(0.2px);

  &:active,
  &.active {
    background-color: var(--grey-alpha-100);
  }

  @include hover {

    &:hover {
      background-color: var(--grey-alpha-100);
    }
  }
}

.picture {
  @include size(rem(40px));

  aspect-ratio: 1 / 1;
}

.name {
  @include ellipsis;
}
