@import 'scss/config';

.block {
  @include make-spacer(pt, 16px);
  @include make-spacer(px, 10px);
  @include make-spacer(pb, 22px);

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  gap: rem(6px);
  z-index: $z-index-11;
  background-color: var(--color-background);
  white-space: nowrap;
  box-shadow: var(--default-box-shadow);

  @include media-breakpoint-up(xxl) {
    @include flex($direction: column);
  }

  &.active {

    .item {
      width: rem(220px);
    }

    .icon {
      transform: rotateZ(180deg);
    }
  }
}

.toggle,
.item {
  @include make-spacer(p, 4px);

  gap: rem(6px);
  border-radius: rem(6px);
  width: rem(44px);
  overflow: hidden;
}

.toggle {
  @include flex(center, center);

  background-color: var(--grey-alpha-100);
  height: rem(44px);

  &:hover {
    background-color: var(--grey-alpha-200);
  }
}

.item {
  display: grid;
  grid-template-columns: rem(36px) 1fr;
  align-items: center;
  font-size: rem(14px);
  line-height: rem(20px);
  letter-spacing: rem(0.2px);

  &.active,
  &:hover {
    background-color: var(--grey-alpha-100);
  }
}

.icon {
  @include transition;
}

.picture {
  @include size(rem(36px));

  aspect-ratio: 1 / 1;
}

.name {
  @include ellipsis;
}
