@import 'scss/config';

.block {
  position: relative;
}

.header {
  @include flex(null, center);

  border-bottom: rem(1px) solid var(--color-border);
  height: rem(40px);
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    width: rem(15px);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-alto);
    height: rem(5px);
  }

  &::-webkit-scrollbar-thumb {
    border: rem(5px) solid var(--color-alto);
    background-color: var(--color-primary);
  }
}

.link {
  @include make-spacer(px, 10px);
  @include flex(center, center);

  position: relative;
  flex-shrink: 0;
  min-width: rem(60px);
  height: 100%;
  text-transform: uppercase;
  font-size: rem(14px);

  &::after {
    @include transition(width);
    @include size(0, rem(2px));

    position: absolute;
    right: 0;
    bottom: rem(-1px);
    left: 0;
    background-color: var(--color-primary);
    content: '';
  }

  &.active,
  &:hover {

    &::after {
      width: 100%;
    }
  }

  &.active {
    color: var(--color-primary);
    pointer-events: none;
  }
}

.body {
  @include make-spacer(pt, 20px);

  display: grid;
  grid-gap: rem(16px);
}
