@import 'scss/config';

.block {
  @include make-spacer(my, 4px);
  @include flex($align-items: center);

  gap: rem(8px);
  flex-shrink: 0;
}

.label {
  @include size(rem(24px));

  cursor: pointer;
}

.icon {
  font-size: rem(18px);
}
