@import 'scss/config';

.block {
    overflow: hidden;
}

.section {

    &:not(:last-child) {
        @include make-spacer(mb, 42px);
    }
}

.description {
    @include make-spacer(mb, 24px);

    @include media-breakpoint-up(lg) {
        @include make-spacer(pr, 140px);
    }

    &.alt{
        @include media-breakpoint-up(lg) {
            @include make-spacer(mb, 0);
        }
    }
}

.banners {
    @include flex($wrap: wrap);

    gap: rem(8px);

    @include media-breakpoint-up(lg) {
        gap: rem(18px);
    }
}