@import 'scss/config';

.block {
  position: relative;
  height: fit-content;
}

.amount,
.date {
  @include make-spacer(mt, auto);
}

.date,
.status {
  font-size: rem(12px);
  opacity: 0.5;
}

.button {
  @include make-spacer(p, 1px);

  border-radius: rem(16px);
  background: no-repeat radial-gradient(circle 16px at -4px 50%, transparent 99.9%, rgba(0, 0, 0, .11)) 0 100% / calc(50% + 2px) 100%, no-repeat radial-gradient(circle 16px at calc(100% + 4px) 50%, transparent 99.9%, rgba(0, 0, 0, .11)) 100% 100% / calc(50% + 2px) 100%;
  position: relative;
  width: 100%;
  white-space: nowrap;

  &::before {
    @include transition;

    border-radius: rem(16px);
    position: absolute;
    inset: 0;
    z-index: $z-index-1;
    background: no-repeat radial-gradient(circle 16px at -4px 50%, transparent 99.9%, #ffcd17) 0 100% / calc(50% + 2px) 100%, no-repeat radial-gradient(circle 16px at calc(100% + 4px) 50%, transparent 99.9%, #ffcd17) 100% 100% / calc(50% + 2px) 100%;
    opacity: 0;
    content: '';
  }

  &.active,
  &:hover {

    &::before {
      opacity: 1;
    }
  }

  &.active {
    pointer-events: none;
    color: var(--color-primary);
  }

  &.disabled {

    .logo {
      opacity: 0.4;
    }
  }
}

.content {
  @include make-spacer(py, 12px);
  @include make-spacer(pr, 22px);
  @include make-spacer(pl, 16px);
  @include flex($align-items: center);

  gap: rem(24px);
  border-radius: rem(15px);
  background: no-repeat radial-gradient(circle 17px at -4px 50%, transparent 99.9%, #fff) top left -1px / calc(50% + 2px) 100%, no-repeat radial-gradient(circle 17px at calc(100% + 4px) 50%, transparent 99.9%, #fff) top right -1px / calc(50% + 2px) 100%;
  position: relative;
  z-index: $z-index-1;
  height: rem(120px);
}

.info {
  @include flex($align-items: flex-start, $direction: column);

  flex: 1 1;
  height: 100%;
  color: var(--color-text);
}

.logo {
  @include size(rem(96px));
  
  z-index: 1;
  pointer-events: none;
}

.name {
  @include make-spacer(mb, 4px);
  
  font-weight: var(--typography-bold);
}

.date {
  letter-spacing: rem(0.2px);
  line-height: rem(22px);
}

.status {
  font-weight: var(--typography-medium);

  &.type-2,
  &.type-3 {
    color: var(--color-warning);
  }

  &.type-4 {
    color: var(--color-info);
  }

  &.type-5 {
    color: var(--color-success);
  }
}