@import 'scss/config';

.block {
  position: relative;
  height: fit-content;
  max-width: rem(306px);
}

.button {
  @include make-spacer(p, 1px);

  border-radius: rem(16px);
  background: no-repeat radial-gradient(circle 16px at -4px 50%, transparent 99.9%, rgba(0, 0, 0, .11)) 0 100% / calc(50% + 2px) 100%, no-repeat radial-gradient(circle 16px at calc(100% + 4px) 50%, transparent 99.9%, rgba(0, 0, 0, .11)) 100% 100% / calc(50% + 2px) 100%;
  position: relative;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  word-break: break-all
}

.content {
  @include make-spacer(py, 12px);
  @include make-spacer(px, 20px);
  @include flex($direction: column);

  position: relative;
  flex-grow: 1;
  gap: rem(6px);
  border-radius: rem(15px);
  background: no-repeat radial-gradient(circle 17px at -4px 50%, transparent 99.9%, #fff) top left -1px / calc(50% + 2px) 100%, no-repeat radial-gradient(circle 17px at calc(100% + 4px) 50%, transparent 99.9%, #fff) top right -1px / calc(50% + 2px) 100%;
  z-index: $z-index-2;
  height: rem(120px);
  line-height: 1;
}

.amount {
  @include make-spacer(mt, 0);
  @include make-spacer(mb, auto);
}

.date {
  font-size: rem(12px);
}

.label {
  @include make-spacer(mr, 5px);

  display: inline-flex;
  font-size: rem(12px);
  font-weight: var(--typography-regular);
  font-family: var(--font-family)!important;
  min-width: rem(100px);
}

.status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-25deg);
  font-size: rem(50px);
  text-transform: uppercase;
  font-weight: var(--typography-bold);
  font-family: var(--font-family-alt);
  white-space: nowrap;
  opacity: 0.3;
  color: var(--color-success);
}