@import 'scss/config';

.block {
  display: grid;
  grid-template-columns: rem(40px) 1fr rem(40px);
  gap: rem(4px);

  @include media-breakpoint-up(lg) {
    grid-template-columns: rem(48px) rem(68px) rem(48px);
  }

  .button {
    font-size: rem(18px);
  }
}

.field {
  @include transition(border-color);

  border-radius: rem(12px);
  border: rem(2px) solid transparent;
  background-color: transparent;
  text-align: center;
  color: var(--font_color);

  &:focus,
  &:hover {
    border-color: var(--game_button_color);
  }
}
