@import 'scss/config';

.block {
    @include flex($justify-content: space-between, $direction: column);
    @include make-spacer(p, 12px);

    height: rem(136px);
    background-color: var(--grey-100);
    border-radius: rem(12px);
}

.logo {
    @include make-spacer(p, 6px);
    @include size(rem(40px));

    border-radius: 50%;
    background-color: var(--color-white);
    overflow: hidden;
}

.placeholder {
    font-size: rem(11px);
    opacity: 0.5;
}

.logo {
    @include size(rem(32px));
}