@import 'scss/config';

.block {
  @include flex($direction: column);

  gap: rem(32px);
  flex-grow: 1;
}

.link,
.content {
  @include make-spacer(p, 16px);

  position: relative;
  border-radius: rem(24px);
  gap: rem(4px);
  background-color: var(--color-white);
  overflow: hidden;
  min-height: rem(172px);
}

.container {
  display: grid;
}

.wrapper {
  @include make-spacer(pb, 32px);

  display: grid;
  gap: rem(12px);

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.content {
  @include flex(center, center, column);
}

.link {
  @include flex(flex-end, flex-start, column);
  @include transition;

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--default-box-shadow);
  }

  &.top,
  &.right {

    .icon {
      @include absolute-center-right(rem(-20px));
      @include flex(center, center);
      @include size(rem(150px));

      @include media-breakpoint-up(lg) {
        @include size(rem(240px));

        right: rem(-40px);
        font-size: rem(120px);
      }

      font-size: rem(80px);
      background-color: var(--color-primary);
      color: var(--color-white);
      border-radius: 50%
    }
  }

  &.top {

    .icon {
      @include media-breakpoint-up(lg) {
        top: rem(-40px);
        left: 50%;
        right: unset;
        transform: translateX(-50%);
      }
    }
  }
}

.info {
  position: relative;
}

.icon {
  @include make-spacer(mb, auto);
  @include make-spacer(mt, 0);

  overflow: hidden;
  font-size: rem(5px);
  color: var(--color-primary);
}