@import "scss/config";

.block {
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	z-index: $z-index-10;
	background-color: var(--color-white);
	border-right: rem(1px) solid var(--color-border);
	transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
	width: rem(56px);
	overflow: hidden;

	&:hover {
		width: rem(320px);
	}
}

.icon,
.arrow {
	opacity: 0.7;
}

.wrapper {
	width: rem(320px);
}

.logo {
	@include size(100%, rem(64px));
	@include make-spacer(pl, rem(7px));
	@include flex(null, center);

	a {
		@include size(rem(42px));

		background-color: #2B2F33;
	}
}

.item {
	cursor: pointer;

	&.active {

		.arrow {
			transform: rotateZ(180deg);
		}

		.submenu {
			display: block;
		}
	}
}

.link {
	@include transition;
	@include make-spacer(pl, 16px);
	@include make-spacer(pr, 24px);

	display: grid;
	grid-template-columns: rem(26px) 1fr rem(10px);
	column-gap: rem(14px);
	align-items: center;
	height: rem(48px);
	text-transform: uppercase;
	font-size: rem(13px);

	&:hover {
		background-color: rgba(0, 0, 0, 0.04);
		color: var(--color-primary);

		span {
			transform: translateX(rem(5px));
		}
	}

	&.active {
		color: var(--color-primary);
		pointer-events: none;
	}

	span {
		@include transition;
	}
}

.icon {
	@include size(rem(20px));

	text-align: center;
}

.arrow {
	@include transition(transform, 0.3s);

	text-align: right;
}

.submenu {
	display: none;
}

