@import 'scss/config';

.block {
  @include flex($direction: column);

  gap: rem(32px);
  flex-grow: 1;
}

.link,
.content {
  @include make-spacer(p, 16px);

  position: relative;
  border-radius: rem(24px);
  gap: rem(4px);
  background-color: var(--color-white);
  overflow: hidden;
  min-height: rem(172px);
}

.wrap {
  @include flex;
  
  flex-grow: 1;
  border-radius: rem(32px) rem(32px) 0 0;
  background-color: var(--color-white);
}

.wrapper {
  @include make-spacer(pb, 32px);

  display: grid;
  gap: rem(12px);

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  * {

    @include media-breakpoint-up(lg) {
      &:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

      &:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }

      &:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }

      &:nth-child(4) { grid-area: 2 / 1 / 3 / 3; }

      &:nth-child(5) { grid-area: 2 / 3 / 5 / 4; }

      &:nth-child(6) { grid-area: 3 / 1 / 4 / 2; }

      &:nth-child(7) { grid-area: 3 / 2 / 4 / 3; }

      &:nth-child(8) { grid-area: 4 / 1 / 5 / 2; }
      
      &:nth-child(9) { grid-area: 4 / 2 / 5 / 3; }
    }
  }
}

.content {
  @include flex(center, center, column);
}

.link {
  @include flex(flex-end, flex-start, column);
  @include transition;

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--default-box-shadow);
  }

  &.top,
  &.right {

    .icon {
      @include absolute-center-right(rem(-20px));
      @include flex(center, center);
      @include size(rem(150px));

      @include media-breakpoint-up(lg) {
        @include size(rem(240px));

        right: rem(-40px);
        font-size: rem(120px);
      }

      font-size: rem(80px);
      background-color: var(--color-primary);
      color: var(--color-white);
      border-radius: 50%
    }
  }

  &.top {

    .icon {
      @include media-breakpoint-up(lg) {
        top: rem(-40px);
        left: 50%;
        right: unset;
        transform: translateX(-50%);
      }
    }
  }
}

.info {
  position: relative;
}

.icon {
  @include make-spacer(mb, auto);
  @include make-spacer(mt, 0);

  overflow: hidden;
  font-size: rem(5px);
  color: var(--color-primary);
}