@import 'scss/config';

.block {
  @include make-spacer(px, 24px);
  @include flex(center, center);

  border-radius: rem(12px);
  font-weight: var(--typography-medium);
  color: var(--color-text);
  height: rem(48px);
  min-width: rem(60px);
  gap: rem(8px);

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.active {
    pointer-events: none;
  }

  &.primary {
    background-color: var(--color-primary);

    &:active,
    &.active {
      background-color: var(--color-primary-hover);
    }

    @include hover {

      &:hover {
        background-color: var(--color-primary-hover);
      }
    }
  }

  &.alt {
    background-color: var(--grey-alpha-100);

    &:active,
    &.active {
      background-color: var(--color-primary);
    }

    @include hover {

      &:hover {
        background-color: var(--color-primary);
      }
    }
  }
}
