@import "scss/config";

.block {
	display: grid;
	gap: rem(16px);
}

.actions {
	@include flex(flex-end, center);

	gap: rem(16px);
}

.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(16px);
}
