@import 'scss/config';

.block {
  display: grid;
  row-gap: rem(16px);
}

.item {
  @include make-spacer(py, 10px);
  @include make-spacer(pl, 20px);

  display: grid;
  position: relative;
  grid-template-columns: rem(65px) 1fr;
  align-items: center;
  column-gap: rem(16px);
  border-bottom: rem(1px) solid var(--color-border);
  font-size: rem(14px);

  &.success {

    .circle {
      background-color: var(--color-primary);
    }
  }

  &.danger {

    .circle {
      background-color: var(--color-danger);
    }
  }

  &.error {

    .circle {
      background-color: var(--color-warning);
    }
  }
}

.line {
  @include size(rem(8px), auto);

  position: absolute;
  top: 0;
  bottom: rem(-1px);
  left: 0;
}

.circle {
  @include flex(center, center);
  @include size(rem(65px));

  border-radius: 50%;
  background-color: var(--color-border);
  color: var(--color-white);
}
