@import 'scss/config';

.container {
  @include flex($direction: column);
}

.content {
  position: relative;
  flex-grow: 1;
}

.grid {
  display: grid;
  gap: rem(8px);

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}