@import 'scss/config';

.block {
  width: 100%;
  overflow: hidden;
  font-size: rem(14px);
  font-weight: var(--typography-thin);
}

.wrapper {
  @include make-spacer(pt, 10px);
  @include make-spacer(pl, 10px);

  background-color: var(--color-primary-01);
}

.row {
  display: grid;
  grid-template-columns: rem(50px) repeat(6, 1fr) rem(200px);
  border-bottom: rem(1px) solid var(--color-border);

  &.headline {
    font-size: rem(12px);
    font-weight: var(--typography-medium);
  }

  &.sm {
    grid-template-columns: rem(50px) 1fr rem(200px);
  }

  &.active {
    background-color: var(--color-primary-05);
  }
}

.cell {
  @include flex(null, center, null, wrap);
  @include make-spacer(p, 12px);

  min-width: rem(120px);

  &:nth-child(1) {
    min-width: unset;
  }

  &.warning {
    color: var(--color-warning);
  }
}

.icon {
  @include make-spacer(mr, 10px);

  color: var(--color-primary);
}

.empty {
  @include make-spacer(pt, 12px);
  @include make-spacer(px, 12px);

  text-align: center;
}
