@import 'scss/config';

.block {
    display: grid;
    grid-template-rows: rem(32px) auto;
    gap: rem(24px);
    position: relative;
}

.wrapper {
    @include flex($align-items: center);

    column-gap: rem(8px);
}

.grid {
    display: grid;
    gap: rem(24px);
    max-width: rem(460px);
}

.label {
    @include make-spacer(mt, 4px);

    font-size: rem(12px);
    color: var(--grey-alpha-600);
}